@model IEnumerable<Models.Slider>

<!-- slider -->
<div class="slider-layer">
	<div id="slider-one" class="owl-carousel">
		@foreach (var item in Model)
		{
			<div class="item">
				<a href="@item.Url"><img src="~/Images/SliderImages/@item.ImageName" title="@item.Tiltle"></a>
			</div>
		}

	</div>
</div>
<!-- End slider -->
