@model Models.User

@{
	string title = "بازیابی کلمه رمز عبور";
	ViewBag.Title = title;
}

<div class="alert alert-success">
	<h2>@Model.Username عزیز</h2>
	<p>ایمیلی حاوی لینک بازیابی کلمه رمز عبور به ایمیل " @Model.EmailAddress " ارسال شد ، لطفا وارد ایمیل شوید و روی لینک کلیک نمایید .</p>
</div>



