@model Models.User

@{
    ViewBag.Title = "ثبت نام";
}

    <div class="alert alert-success">
        <h2>@Model.Username عزیز ، با تشکر از ثبت نام شما در سایت ما .</h2>
        <p>ایمیلی حاوی لینک فعالسازی به ایمیل " @Model.EmailAddress " ارسال شد ، لطفا وارد ایمیل شوید و روی لینک کلیک نمایید .</p>
    </div>

