@using System.Configuration

@model Models.User

<div style="direction: rtl; padding: 20px">
	<h2>@Model.Username عزیز !</h2>
	<p> جهت بازیابی کلمه رمز عبور خود روی لینک زیر کلیک کنید .</p>
	<p>
		<a href="@ConfigurationManager.AppSettings["MyDomain"]/Account/RecoveryPassword/@Model.ActiveCode">لینک بازیابی کلمه عبور</a>
	</p>
</div>
