
@{
	string title = "فاکتور";
	ViewBag.Title = title;
}

<div id="showOrder">
	@Html.Action("_ListOrder");
</div>

<script>
	function CommandOrder(id, count) {
		$.ajax({
			url: "/UserCart/CommandOrder/" + id,
			type: "Get",
			data: { count: count },
		}).done(function (result) {
			$("#showOrder").html(result);
		});
	}
</script>
