@model IEnumerable<ViewModels.CompareItemViewModel>
@{
	string title = "لیست مقایسه محصولات";
	ViewBag.Title = title;
}

<h2>لیست مقایسه</h2>
<hr />
@if (Model.Any())
{
	<table class="table table-bordered">
		<tr>
			<td>تصویر</td>
			@foreach (var item in Model)
			{
				<td>
					<img style="width:100px;height:100px" class="thumbnail" src="~/Images/ProductImages/Thumbnail/@item.ImageName" />
				</td>
			}
		</tr>
		<tr>
			<td>محصول</td>
			@foreach (var item in Model)
			{
				<td>
					@item.Title
				</td>
			}
		</tr>
		@{

			List<Models.Feature> listFeatures = ViewBag.features as List<Models.Feature>;
			List<Models.ProductFeature> productFeatures = ViewBag.productFeatures as List<Models.ProductFeature>;
		}
		@foreach (var item in listFeatures)
		{
			<tr>
				<td>
					@item.Title
				</td>
				@foreach (var feature in Model)
				{
					<td>
						@string.Join(" - ", productFeatures.Where(f => f.ProductId == feature.ProductId && f.FeatureId == item.FeatureId).Select(f => f.Value).ToList())
					</td>
				}
			</tr>
		}
	</table>
}



