<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
	</configSections>

	<connectionStrings>

		<add name="DatabaseContext" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=My_eShop;Data Source=." providerName="System.Data.SqlClient" />


		<!--<add name="DatabaseContext" connectionString="Password=1234512345;Persist Security Info=True;User ID=SA;Initial Catalog=LEARNING_ADO_NET;Data Source=." providerName="System.Data.SqlClient" />-->

		<!--
		اگر فايل ذيل وجود نداشته باشد، ساخته می‌شود
		MyDatabase.sdf
		-->
		<!--
		<add
			name="DatabaseContext"
			connectionString="Data Source=|DataDirectory|\MyDatabase.sdf"
			providerName="System.Data.SqlServerCe.4.0"
			/>
		-->
	</connectionStrings>
	
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
</configuration>